<h2>Who We Are</h2>
<img src="/download-1.jpg" alt="Brandeis Image">
<p>Graduation isn't the end</p>
<p>Our Alumni Association fosters a community that stays and follows you in your life journey</p>
<p>It's never too late to reconnect</p>
