<!-- Contact Form -->
<form action="/send-email" method="post">
    <!-- Use placeholder attribute for descriptive text inside inputs -->
    <input id="userMessage" name="userMessage" placeholder="Your message" required>
    <br>
    <input type="email" id="userEmail" name="userEmail" placeholder="Your email" required>
    <br>
    <input type="submit" value="Send Message">
</form>