<h2>Welcome to Total Genetics</h2>
<p>Unlock the secrets of your DNA and learn about your genetics.</p>
<p>Our easy and reliable DNA test can give you detailed information about your genetic makeup.</p>
<h3>Steps to Activate Your DNA Test Kit:</h3>
<ol>
    <li><b>Create an Account:</b> To get started, create an account or login to your existing account.</li>
    <li><b>Activate Your Kit:</b> In your account, you will find an option to activate your test kit. Enter the code provided with your DNA test kit.</li>
</ol>
<p>After activating your kit, you will be able to access your test results on your account.</p>
